<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}My Website{% endblock %}
    </title>
</head>
<body>
    <div class="toolbar">
        {% if user.is_authenticated %}
            <span>Привет, {{ user.username }}!</span>
            <a href="{% url 'test_auth:logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'test_auth:login' %}">Войти</a>
        {% endif %}
    </div>

    {% block body %}

    {% endblock %}
</body>
</html>