{%  extends 'shopapp/base.html' %}
{%  load cache %}

{% block title %}
    Index
{%  endblock %}

{% block body %}
    New shop
    <ul>
        {%  for name,price in products %}
            <li> Товар {{ name }} по цене {{ price}} р.</li>
            {% if name|length == 8 %}
                <span>  Long name </span>
            {% endif %}
        {% endfor %}
    </ul>
    
    <div>
        <ul>  
            <li>I have {{ items }} item{{ items|pluralize }} </li>
             <li>I have {{ items }} class{{ items|pluralize:'es' }}</li>
             <li>I have {{ items }} cherr{{ items|pluralize:'y,ies' }}</li>
            
            </ul>
    </div>
    
    <div>
       {{ time_running }}
    </div>
    
{#    #}
{#    {% cache 30 time_running %}#}
{#    <div>#}
{#       {{ time_running }}#}
{#    </div>#}
{#    {% endcache %}#}
{%  endblock %}