{%  extends 'shopapp/base.html' %}

{% block title %}
    Детали заказа
{%  endblock %}

{% block body %}
    <h1> Детали заказа: </h1>
    <div>
    {%  for order in object_list %}
        <div>
        <div>
            <p> <a href="{% url 'shopapp:order_details' pk=order.pk %}">Заказ #{{ order.id }}</a></p>
        </div>
           <p> Адрес доставки: {{ order.address }}</p>
           <p> Промокод: {{ order.promo }}</p>
           <p> Кто создал заказ: {% firstof order.user.first_name order.user.username %}</p>

           <h3>Товары в заказе:</h3>
               <ul>
            {% for product in order.products.all %}
                <li>
                    <p>{{ product.name }} по цене {{ product.price }}</p>
        </li>
            {% endfor %}
               </ul>
        </div>
    {% endfor %}

     </div>

    <div>
        <a href="{% url 'shopapp:order_create' %}"> Создать заказ </a>
    </div>
{%  endblock %}