{% extends 'shopapp/base.html' %}

{% block title %}
	Confirm delete order
{% endblock %}

{% block body %}
	<h1>Удаление заказа {{ object.name }}</h1>
    <h1>Подтверждаете удаление?</h1>
    <div>
        <form method="POST">

            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">
                Удалить
            </button>
        </form>
    </div>

    <div>
    <a href="{% url 'shopapp:order_details' pk=object.pk %}"> Обратно к заказам</a>
    </div>
{% endblock %}