{% extends 'shopapp/base.html' %}

{%  block title %}
    Товар №{{ product.pk }}
{% endblock %}

{%  block body %}
    <h1>Товар {{ product.name }}</h1>
    <div>
        <div> Описание: <em>{{ product.description }}</em> </div>
        <div> Цена: <em>{{ product.price }}</em> </div>
        <div> Скидка: <em>{{ product.discount }}</em> </div>
        <div> Архивировано: <em>{{ product.archived }}</em> </div>
    </div>


    <div>
        <a href="{% url 'shopapp:product_update' pk=product.pk %}"> Изменить товар</a>
    </div>


     <div>
        <a href="{% url 'shopapp:product_delete' pk=product.pk %}"> Удалить товар</a>
    </div>


    <div>
        <a href="{% url 'shopapp:product_list' %}"> Обратно к товарам</a>
    </div>
{% endblock %}